html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* main container */
.main-container {
    margin-left: 10%;
    margin-right: 20%;
}

h1 {
    font-family: BerkleyStd;
    font-size: 42px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    color: #022737;
    margin-top: 50px;
}

.A1050919 {
    width: 110px;
    height: 28px;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #505050;
}

.normal-text {
    width: 90%;
    height: 24px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #505050;
    white-space:nowrap;
}

.Lorem-ipsum-dolor-si {
    width: 963px;
    height: 96px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #505050;
}

.bold-text {
    width: 110px;
    height: 28px;
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #505050;
}

p {
    width: 100%;
    /* height: 96px; */
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}

.The-Church-Fund {
    width: 125px;
    height: 24px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #505050;
  }

.preset-name {
    margin-top: 10px;
    margin-bottom: 49px;
    width: 316px;
    height: 40px;
    border: solid 1px #bfbfbf;
    background-color: #ffffff;
    padding-left: 20px;
}

.Preset-Allocation {
    width: 170px;
    height: 30px;
    object-fit: contain;
    font-family: BerkeleyStd;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.5px;
    color: #022737;
    margin-top: 50px;
}

/* table css */



/* button css */
.btn-container {
    margin-top: 10%;
    width: 100%;
    align-items: center;
}

.save-btn {
    width: 150px;
    height: 50px;
    background-color: #006778;
    border-color: #006778;
    border-radius: 5%;
    float: right;
}

.white-text {
    color: #ffffff;
    font-weight: bold;
    font-family: Helvetica;
}

.blue-text {
    color: #006778;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica;
}

.cancel-btn {
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border-color: #006778;
    text-decoration-color: #e6e1e1;
    border-radius: 5%;
}



@media only screen and (max-width: 767px) {
    .top-text {
        border-radius: 10px;
        margin-left: 22px;
        width: 70%;
    }
    
    .top-icons {
        vertical-align: middle;
    }

    .need-assistance {
        display: none;
    }

    .rectangle-top-container {
        margin-left: 22px;
    }

    .Vanguard-Charitable {
        width: 132px;
        height: 20px;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
      }

    .main-container {
        margin-left: 4%;
        margin-right: 4%;
    }

    .Lorem-ipsum-dolor-si {
        width: 315px;
        height: 200px;
        font-family: HelveticaNeue;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #505050;
      }
    
    
    /* button container */
    .btn-container {
        margin-top: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .save-btn {
        width: 100%;
        height: 50px;
        float: none;
        margin-top: 3%;
    }

    .cancel-btn {
        width: 100%;
        height: 50px;
    }
}