.table-column-names {
        width: 965px;
        height: 65px;
        font-family: Helvetica;
        font-weight: bold;
        color: #022737;
        align-items: center;
        display: flex;
        justify-content: space-between;
        /* margin-top: 50px; */
}

.table-heading-text {
        font-family: Berkeley;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        /* margin-bottom: 20px; */
        /* letter-spacing: 0.5px;*/
        padding-bottom: 10px;
        padding-left: 29px;
        line-height: 80px;
        color: #022737;
        display: inline;
}

.investment-options {
        color: #006778;
        margin-left: 3%;
        width: 25%;
        font-family: Helvetica;
        text-decoration: underline;
}

.available-balance {
        text-align: center;
        width: 25%;
        font-family: Helvetica;
}

.price-per-unit {
        text-align: center;
        width: 25%;
        font-family: Helvetica;
}

.price-arrow{
        width: 14px;
        height: 14px;
        text-align: center;
        margin-left: 20px;
}

.rectangle-dark-web {
        width: 1000px;
        height: 60px;
        background-color: #f4f3f3;
        align-items: center;
        display: flex;
}

.rectangle-dark-mobile{
        background-color: #f4f3f3;
        display: none; 
}

.rectangle-light-web {
        width: 1000px;
        height: 60px;
        align-items: center;
        display: flex;
}

.rectangle-light-mobile{
        display: none;                
}

.input_field_div{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
}

.input_field {
        /* margin-top: 12px;
        margin-bottom: 10px;
        margin-left: 10%; */
        width: 100px;
        height: 40px;
        border: solid 1px #bfbfbf;
        background-color: #ffffff;
        /* width: 10%; */
}

.column-name-mobile-price {
        display: none;
        
}

@media only screen and (max-width: 767px) {
        .table-column-names {
                display: none;
        }

        .table-heading-text {
                padding-bottom: 10px;
                padding-left: 0px;
                line-height: 80px;
                color: #022737;
                display: inline;
        }

        .rectangle-dark-web {
                padding-top: 2%;
                width: 315px;
                height: 190px;
                background-color: #f4f3f3;
                display: block;
                flex-direction: column;
                display: none;
                justify-content: space-between;
        }

        .rectangle-light-web {
                padding-top: 2%;
                width: 315px;
                height: 190px;
                display: block;
                display: none;
                flex-direction: column;
                justify-content: space-between;
        }

        .rectangle-light-mobile{
                padding-top: 2%;
                width: 315px;
                height: 190px;
                display: block;
        }

        .rectangle-dark-mobile{
                padding-top: 2%;
                width: 315px;
                height: 190px;
                display: block;
        }

        .available-balance {
                color: #022737;
                font-weight: bolder;
        }
        
        .price-per-unit {
                color: #022737;
                font-weight: bolder;
        }

        
        .cost{
                margin-top: 20px;
                margin-left: 20px;
                display: flex;
                flex-direction: row;
        }
        

        .investment-options {
                width: auto;
                display: inline;
                font-family: Helvetica;
                margin-left: 20px;
                /* margin-top: 10px; */
        }

        .input_field_div{
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 0px;
                float: left;
                margin-left: 20px;
        }

        .input_field {
                margin-top: 1px;
                margin-bottom: 10px;
                width: 130px;
                height: 40px;
                border: solid 1px #bfbfbf;
                background-color: #ffffff;
        }

        .column-name-mobile-price {
                display: inline;
                visibility: visible;
                height: auto;
                font-family: Helvetica;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #505050;
        }
}